<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <!-- dispatcher : 클라이언트에게 들어온 요청을 Controller로 옮기고, 서버에서 온 response를 클라이언트에게 옮겨주는 역할 (식당의 서빙과 유사)-->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- 특정 url 패턴으로 요청이 들어왔을 시, 해당 dispatcher를 사용하겠다 라는 설정, 실습에서는 url 패턴을 /로 설정해 모든 요청을 하나의 dispatcher가 처리-->
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- 한글 인코딩을 위한 필터 설정 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <!-- spring 설정 파일 위치-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath*:mybatis-config.xml
      WEB-INF/applicationContext.xml
      WEB-INF/dispatcher-servlet.xml
    </param-value>
  </context-param>
</web-app>